# Configuración del servidor
PORT=3000

# URL de conexión a la base de datos
# Ejemplo: postgres://usuario:contraseña@localhost:5432/nombre_de_tu_bd
DATABASE_URL=tu_url_de_conexion_aqui

# Secreto para generar tokens JWT (Usa una cadena de texto larga y aleatoria)
JWT_SECRET=tu_secreto_super_seguro_aqui